/* general settings */
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*:focus {outline: none;}
body  {font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 1.42857143; color: #333; background-color: #fff; margin: 0}
h1,h2,h3,h4,h5 {font-family: 'Playfair Display', serif; font-weight: 500; line-height: 1.1;}
a {text-decoration: none; background-color: transparent;}
a:focus, a:hover {color: #ed272c; text-decoration: underline;}
ol, ul {margin-top: 0;margin-bottom: 10px;}
.strong {font-size: 1.2em;}
.stronger {font-size: 1.2em; font-weight: bold;}

/*form styling */
label, select{display: block;}
label {font-size: 16px; font-family: "Open Sans Condensed", sans-serif; padding: 0px 0px 5px 0px; color: #FFF;}
.formBox {display: inline-block; padding: 2px; margin-bottom: 5px;}
.smallForm .selectWrapper {
    color: #000;
    background: #FFF;
    border: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
    width: 70px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
}

.selectWrapper::after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 0px;
    top: 0px;
    pointer-events: none;
    z-index: 100;
    background: #000;
    padding: 3px 5px;
    margin: 0px;
    text-align: center;
    color: #fff;

}

.selectWrapper select {
    color: #000;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 16px;
}

/* fereastra overlay de început - cu info despre app
overlay 2 e pentru galeria foto
*/
#overlay1, #overlay2 {
    background: rgba(0, 0, 0, 0.95);
    display: none;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 90;
    /*border: 1px solid rgba(255,255,255,0.6);*/
}

#overlay2 {background: rgba(0,0,0,0.95)}

#overlay1 .overlay-content {
    position: absolute;
    width: 75%;
    left:50%;
    top: 30%;
    text-align: center;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: #FFF;
}


/* gallery thumbnails */

.gallery.item {
    /*width: 33.33%; dacă vrem 3 coloane */
    width: 50%;
    float: left;
    height: 120px;
    box-shadow:
        4px 0 0 0 #FFF,
        0 4px 0 0 #FFF,
        4px 4px 0 0 #FFF,   /* Just to fix the corner */
        4px 0 0 0 #FFF inset,
        0 4px 0 0 #FFF inset;
}

.gallery.item img {
    width: 100%;
}
.gallery.main {width: 100%}
.row {clear:both; height: 120px;}

.panelcaption {margin:0px 0px 10px 0px; padding: 5px 0px 5px 10px;}





/*** header - menu button and logo */

header {width: 100%; margin: 0px; height: 80px; display: block;}

/* button to open navigation */
.responsive-nav-icon {background-color: #ed272c; top:20px; left: 20px; display: none;}
.responsive-nav-icon i {padding: 10px; color:#FFF}
.responsive-nav-close {top:0px; right: 0px; cursor: pointer;}
.responsive-nav-close i {padding: 10px; color:#FFF}
.responsive-nav-close i:hover {color:#ed272c}

/* logo area and image */
#logo {width: 120px; position: absolute; top:15px; right: 10px; text-align: right;}
#logo img {width: 100%; height: auto;}


/* navigation is in nav.css */



/* main content area and sections */
#content {margin:0px 0px 0px 0px; position: relative;}
.content-wrap {width: 98%; margin: 0px auto;}
.s1 {top: 40px;}
#pager {width: 100%; position: absolute; top:0px; z-index: 50;}
.s2-button-next, .s2-button-prev {cursor: pointer; width: 30px; line-height: 2; background-color: #000; position: absolute; color: #FFF; z-index: 5;}
.s2-button-next {right: 0px;}
.s2-button-prev {text-align: right;}
.s2-button-next i {margin-left: 5px;}
.s2-button-prev i {margin-right: 5px;}
.s2 {width: 80%; line-height: 2;}

/* story - level */
.content-wrap header {height: 100px}
.content-wrap header p {padding-bottom: 10px; border-bottom: dotted 2px #ed272c;}
section#story {width: 65%; position: relative; }

section#gallery {width: 33%; position: absolute; top: 100px; left:66%;}
article.panel {width: 100%}

article h3.panel-title {width: 100%; line-height: 24px}
article #map {height: 300px}


/* footer area */
#footer {width: 65%; margin: 0px; position: relative; background-color: #ed272c; color: #FFF; padding: 10px;}
#footer-home {width: 100%; margin: 0px; position: relative; background-color: #ed272c; color: #FFF; padding: 10px;}
#footer p, #footer-home p {margin: 0px; font-size: 12px;}

/* panel inspired from bootstrap, but customized */
.panel {
    width: 90%;
    margin: 0px auto 25px auto;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    clear: both;
    /*need the clear for the floats */

}

.panel-heading, .panel-footer {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px;
}

.panel-heading {
    position: relative;
}



.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    width: 85%;

}

.panel-title > a {color: inherit;}

.panel-thumb {
    display: block;
    width: 100%;
    height: 200px;
    margin: 0px;
    overflow: hidden;
    position: relative;
}

.panel-thumb img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0%;
    top: 70%;
    transform: translate(0%, -70%);
    -webkit-transform: translate(0%, -70%);
    -ms-transform: translate(0%, -70%);
}

 .panel-body {
    padding: 10px;
}

#gallery .panel-body {
    padding: 0px;
    margin: 0px;
}


div.year {
    z-index: 50;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px 10px;
    border-radius: 8px 0px 0px 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: 600;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;



}






.button {background: #ed272c; border-radius: 4px; color: #FFF;
    text-decoration: none; font-weight: 300; font-size: 14px;  border: none;  font-family: "Open Sans", sans-serif;
    line-height: normal; height: inherit; text-align: center; letter-spacing: inherit; padding: 5px 32px; cursor: pointer; margin-top:5px;}
.center {margin: 0px auto;text-align: center; }
.button:hover {text-decoration: none; color: #000;}


.pager-box {background: #000; color: #FFF; text-align: center;border-radius: 5px 0px 0px 0px; cursor: pointer;}
.pager-box.gray1 {background: #B9B7B7;}
.pager-box.gray2 {background: gray;}
.active {background: #ed272c; border-bottom: none; color: white;}


.swiper-container .panel {cursor:grab; cursor:-webkit-grab}

/*media queries*/

@media screen and (max-width: 960px) {
    .swiper-button-next,.swiper-button-prev {display: none;}
    #pager {top: 0px;}

}

/* media for first slider (pager) - let it be wider for wider pages */
@media screen and (min-width: 641px) {
    .s2 {width: 90%;}
}

@media screen and (min-width: 961px) {
    .swiper-button-next,.swiper-button-prev {top: 250px; position: fixed;}
    .s2-button-next, .s2-button-prev {display: none;}
    .swiper-button-next {background: url(       "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNyA0NCI+PHBhdGggZD0iTTI3LDIyTDI3LDIyTDUsNDRsLTIuMS0yLjFMMjIuOCwyMkwyLjksMi4xTDUsMEwyNywyMkwyNywyMnoiIGZpbGw9IiNlZDI3MmMiLz48L3N2Zz4=");}
    .swiper-button-prev {background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNyA0NCc+PHBhdGggZD0nTTAsMjJMMjIsMGwyLjEsMi4xTDQuMiwyMmwxOS45LDE5LjlMMjIsNDRMMCwyMkwwLDIyTDAsMjJ6JyBmaWxsPScjZWQyNzJjJy8+PC9zdmc+)}
    header {height: auto;}
    .responsive-nav-close {display: none;}

    .wrap {width: 98%; margin: 0px auto;}
    .wrap-home {width: 90%; margin: 0px auto;}
    #logo {float: right; padding: 20px 0px; width: 150px; position: initial;}
    .swiper-container {width: 90%; margin: 0px auto;}
    .swiper-container .panel-heading{min-height: 55px;}
}

/* inner responsive layout */
/* breakpoints 599, 
