/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
nav {
    height: 100%;
    padding: 0px;
    position: fixed;
    top: 0; left: -800px;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 0;
    background: #000; font-size: 19px; font-weight: 300; line-height: 1; margin: 0; padding: 15px 0; width: 100%; display: block;
    ul {margin-top: 42px; list-style: none; padding: 5px 0;}

    li:first-child a {
       border-top: 1px solid rgba(255, 255, 255, 0.5);;
    }
    li {
        a:hover, a:focus {
            color: #fff; background: #ed272c; text-decoration: none;
        }
    }
    li.menu-item {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        @include for-tablet-landscape-up {
            display: inline-block;	text-align: left;
        }
    }

    a {display: block; padding: 0 20px; color: #fff; text-decoration: none; font-weight: 300; letter-spacing: -0.05em; font-size: 16px;
        line-height: 2.75em; height: 2.75em;  font-family: "Open Sans", sans-serif;}

    p {color: #fff;text-decoration: none;font-weight: 300;letter-spacing: -0.05em;font-size: 14px;line-height: 1.5em;
        height: 1.5em;font-family: "Open Sans", sans-serif;}

    @include for-tablet-landscape-up {
        background: #fff;
        position: static;
        color: $color-main;
        a {
            color: #000; 
            //border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        }
        ul {margin-top: 0px;}

    };
}


nav.slide-in {
    left: 0;
    overflow-y: scroll;
    width: 75%;
    z-index: 100;
}

#filter-area{width: 240px; background: #000; display: none;padding: 10px 20px;}


/* buttons to control responsive navigation */
.responsive-nav-icon {
    background-color: $color-active;
    display: block;
    position: absolute;
    top:20px; left: 20px;
    z-index: 1;
    @include for-tablet-landscape-up {
        display: none;
    };
    i {
        padding: 10px; color:#FFF
    }

}

.responsive-nav-close {
    display: block;
    position: absolute;
    top:0px; right: 0px;
    cursor: pointer;
    i {padding: 10px; color:#FFF;};
    i:hover {
        color:$color-active;
    };
    @include for-tablet-landscape-up {
        display: none;
    };
}


/* menu overlay */
#overlay {background: 0 0 rgba(0, 0, 0, 0.5); display: none;
    height: 100%;    position: fixed;    top: 0; left: 0;    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;    width: 100%;    z-index: 90;
}
